
/*Base button*/
input[type=button],
input[type=submit],
input[type=reset],
button {
    background-clip: padding-box;
    background-origin: border-box;
    border: 0px solid transparent;
    box-sizing: border-box;
    display: inline-block;
    font-family: 'Open Sans';
    font-weight: 600;
}

/*Colors*/
input[type=button],
input[type=submit],
input[type=reset],
button {
    background-color: rgb(189, 195, 199);
    color: rgb(255, 255, 255);
}

input[type=button].green,
input[type=submit].green,
input[type=reset].green,
button.green {
    background-color: rgb(46, 204, 113);
    color: rgb(255, 255, 255);
}

input[type=button].blue,
input[type=submit].blue,
input[type=reset].blue,
button.blue {
    background-color: rgb(52, 152, 219);
    color: rgb(255, 255, 255);
}

input[type=button].pink,
input[type=submit].pink,
input[type=reset].pink,
button.pink {
    background-color: rgb(155, 89, 182);
    color: rgb(255, 255, 255);
}

input[type=button].black,
input[type=submit].black,
input[type=reset].black,
button.black {
    background-color: rgb(52, 73, 94);
    color: rgb(255, 255, 255);
}

input[type=button].yellow,
input[type=submit].yellow,
input[type=reset].yellow,
button.yellow {
    background-color: rgb(241, 196, 15);
    color: rgb(255, 255, 255);
}

input[type=button].orange,
input[type=submit].orange,
input[type=reset].orange,
button.orange {
    background-color: rgb(230, 126, 34);
    color: rgb(255, 255, 255);
}

input[type=button].red,
input[type=submit].red,
input[type=reset].red,
button.red {
    background-color: rgb(231, 76, 60);
    color: rgb(255, 255, 255);
}

/*Sizes*/
input[type=button].smaller,
input[type=submit].smaller,
input[type=reset].smaller,
button.smaller {
    font-size: 10px;
    padding: 3px 12px;
}

input[type=button].small,
input[type=submit].small,
input[type=reset].small,
button.small {
    font-size: 12px;
    padding: 4px 16px;
}

input[type=button],
input[type=submit],
input[type=reset],
button {
    font-size: 14px;
    padding: 5px 20px;
}

input[type=button].big,
input[type=submit].big,
input[type=reset].big,
button.big {
    font-size: 16px;
    padding: 7px 28px;
}

input[type=button].bigger,
input[type=submit].bigger,
input[type=reset].bigger,
button.bigger {
    font-size: 18px;
    padding: 10px 40px;
}

/*Hover*/
input[type=button].hover,
input[type=submit].hover,
input[type=reset].hover,
button.hover {
    background-color: rgb(149, 165, 166);
    cursor: pointer;
}

input[type=button].green.hover,
input[type=submit].green.hover,
input[type=reset].green.hover,
button.green.hover {
    background-color: rgb(39, 174, 96);
    cursor: pointer;
}

input[type=button].blue.hover,
input[type=submit].blue.hover,
input[type=reset].blue.hover,
button.blue.hover {
    background-color: rgb(41, 128, 185);
    cursor: pointer;
}

input[type=button].pink.hover,
input[type=submit].pink.hover,
input[type=reset].pink.hover,
button.pink.hover {
    background-color: rgb(142, 68, 173);
    cursor: pointer;
}

input[type=button].black.hover,
input[type=submit].black.hover,
input[type=reset].black.hover,
button.black.hover {
    background-color: rgb(44, 62, 80);
    cursor: pointer;
}

input[type=button].yellow.hover,
input[type=submit].yellow.hover,
input[type=reset].yellow.hover,
button.yellow.hover {
    background-color: rgb(243, 156, 18);
    cursor: pointer;
}

input[type=button].orange.hover,
input[type=submit].orange.hover,
input[type=reset].orange.hover,
button.orange.hover {
    background-color: rgb(211, 84, 0);
    cursor: pointer;
}

input[type=button].red.hover,
input[type=submit].red.hover,
input[type=reset].red.hover,
button.red.hover {
    background-color: rgb(192, 57, 43);
    cursor: pointer;
}
