
/*Base button*/
input[type=button],
input[type=submit],
input[type=reset],
button {
    border: none;
    display: inline-block;
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 400;
    padding: 5px 20px;
    border-radius: 4px;
}

/*Colors*/
input[type=button],
input[type=submit],
input[type=reset],
button {
    background-color: rgb(189, 195, 199);
    color: rgb(255, 255, 255);
}

input[type=button].green,
input[type=submit].green,
input[type=reset].green,
button.green {
    background-color: rgb(46, 204, 113);
    color: rgb(255, 255, 255);
}

input[type=button].blue,
input[type=submit].blue,
input[type=reset].blue,
button.blue {
    background-color: rgb(52, 152, 219);
    color: rgb(255, 255, 255);
}

input[type=button].pink,
input[type=submit].pink,
input[type=reset].pink,
button.pink {
    background-color: rgb(155, 89, 182);
    color: rgb(255, 255, 255);
}

input[type=button].black,
input[type=submit].black,
input[type=reset].black,
button.black {
    background-color: rgb(52, 73, 94);
    color: rgb(255, 255, 255);
}

input[type=button].yellow,
input[type=submit].yellow,
input[type=reset].yellow,
button.yellow {
    background-color: rgb(241, 196, 15);
    color: rgb(255, 255, 255);
}

input[type=button].orange,
input[type=submit].orange,
input[type=reset].orange,
button.orange {
    background-color: rgb(230, 126, 34);
    color: rgb(255, 255, 255);
}

input[type=button].red,
input[type=submit].red,
input[type=reset].red,
button.red {
    background-color: rgb(231, 76, 60);
    color: rgb(255, 255, 255);
}

/*Hover Effect*/
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
button:hover {
    background-color: rgb(149, 165, 166);
    cursor: pointer;
}

input[type=button].green:hover,
input[type=submit].green:hover,
input[type=reset].green:hover,
button.green:hover {
    background-color: rgb(39, 174, 96);
    cursor: pointer;
}

input[type=button].blue:hover,
input[type=submit].blue:hover,
input[type=reset].blue:hover,
button.blue:hover {
    background-color: rgb(41, 128, 185);
    cursor: pointer;
}

input[type=button].pink:hover,
input[type=submit].pink:hover,
input[type=reset].pink:hover,
button.pink:hover {
    background-color: rgb(142, 68, 173);
    cursor: pointer;
}

input[type=button].black:hover,
input[type=submit].black:hover,
input[type=reset].black:hover,
button.black:hover {
    background-color: rgb(44, 62, 80);
    cursor: pointer;
}

input[type=button].yellow:hover,
input[type=submit].yellow:hover,
input[type=reset].yellow:hover,
button.yellow:hover {
    background-color: rgb(243, 156, 18);
    cursor: pointer;
}

input[type=button].orange:hover,
input[type=submit].orange:hover,
input[type=reset].orange:hover,
button.orange:hover {
    background-color: rgb(211, 84, 0);
    cursor: pointer;
}

input[type=button].red:hover,
input[type=submit].red:hover,
input[type=reset].red:hover,
button.red:hover {
    background-color: rgb(192, 57, 43);
    cursor: pointer;
}

/*Click Effect*/
input[type=button]:active,
input[type=button]:active,
input[type=button]:active,
button:active {
    box-shadow: 0 -2px 0 0 rgb(206, 210, 211);
    position: relative;
    top: 2px;
}

input[type=button].green:active,
input[type=button].green:active,
input[type=button].green:active,
button.green:active {
    box-shadow: 0 -2px 0 0 rgb(16, 174, 83);
}

input[type=button].blue:active,
input[type=button].blue:active,
input[type=button].blue:active,
button.blue:active {
    box-shadow: 0 -2px 0 0 rgb(32, 132, 199);
}

input[type=button].pink:active,
input[type=button].pink:active,
input[type=button].pink:active,
button.pink:active {
    box-shadow: 0 -2px 0 0 rgb(135, 69, 162);
}

input[type=button].black:active,
input[type=button].black:active,
input[type=button].black:active,
button.black:active {
    box-shadow: 0 -2px 0 0 rgb(32, 53, 74);
}

input[type=button].yellow:active,
input[type=button].yellow:active,
input[type=button].yellow:active,
button.yellow:active {
    box-shadow: 0 -2px 0 0 rgb(221, 176, 20);
}

input[type=button].orange:active,
input[type=button].orange:active,
input[type=button].orange:active,
button.orange:active {
    box-shadow: 0 -2px 0 0 rgb(210, 106, 20);
}

input[type=button].red:active,
input[type=button].red:active,
input[type=button].red:active,
button.red:active {
    box-shadow: 0 -2px 0 0 rgb(211, 56, 40);
}

/*Button with icon*/
button[data-icon] {
    position: relative;
    padding-left: 41px;
}

button[data-icon] span.icon {
    width: 26px;
    height: 24px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute;
    left: 0;
    top: 0;
}

button[data-icon] span.icon {
    background-color: rgb(189, 195, 199);
    box-shadow: 0 2px 0 0 rgb(149, 155, 159);
}

button[data-icon].green span.icon {
    background-color: rgb(39, 174, 96);
    box-shadow: 0 2px 0 0 rgb(0, 134, 56);
}

button[data-icon].blue span.icon {
    background-color: rgb(41, 128, 185);
    box-shadow: 0 2px 0 0 rgb(1, 88, 145);
}

button[data-icon].pink span.icon {
    background-color: rgb(142, 68, 173);
    box-shadow: 0 2px 0 0 rgb(102, 28, 133);
}

button[data-icon].black span.icon {
    background-color: rgb(44, 62, 80);
    box-shadow: 0 2px 0 0 rgb(4, 22, 40);
}

button[data-icon].yellow span.icon {
    background-color: rgb(221, 176, 0);
    box-shadow: 0 2px 0 0 rgb(181, 136, 0);
}

button[data-icon].orange span.icon {
    background-color: rgb(210, 106, 14);
    box-shadow: 0 2px 0 0 rgb(170, 66, 0);
}

button[data-icon].red span.icon {
    background-color: rgb(192, 57, 43);
    box-shadow: 0 2px 0 0 rgb(152, 17, 3);
}

/*Hover Effect*/
button[data-icon]:hover span.icon {
    background-color: rgb(209, 215, 219);
    box-shadow: 0 2px 0 0 rgb(169, 175, 179);
}

button[data-icon].green:hover span.icon {
    background-color: rgb(59, 194, 116);
    box-shadow: 0 2px 0 0 rgb(19, 154, 76);
}

button[data-icon].blue:hover span.icon {
    background-color: rgb(61, 148, 205);
    box-shadow: 0 2px 0 0 rgb(21, 108, 165);
}

button[data-icon].pink:hover span.icon {
    background-color: rgb(162, 88, 193);
    box-shadow: 0 2px 0 0 rgb(122, 48, 153);
}

button[data-icon].black:hover span.icon {
    background-color: rgb(64, 82, 100);
    box-shadow: 0 2px 0 0 rgb(24, 42, 60);
}

button[data-icon].yellow:hover span.icon {
    background-color: rgb(241, 196, 20);
    box-shadow: 0 2px 0 0 rgb(201, 156, 20);
}

button[data-icon].orange:hover span.icon {
    background-color: rgb(230, 126, 34);
    box-shadow: 0 2px 0 0 rgb(190, 86, 20);
}

button[data-icon].red:hover span.icon {
    background-color: rgb(212, 77, 63);
    box-shadow: 0 2px 0 0 rgb(172, 37, 23);
}

/*Click Effect*/
button[data-icon]:active span.icon {
    box-shadow: 0 -2px 0 0 rgb(169, 175, 179);
}

button[data-icon].green:active span.icon {
    box-shadow: 0 -2px 0 0 rgb(19, 154, 76);
}

button[data-icon].blue:active span.icon {
    box-shadow: 0 -2px 0 0 rgb(21, 108, 165);
}

button[data-icon].pink:active span.icon {
    box-shadow: 0 -2px 0 0 rgb(122, 48, 153);
}

button[data-icon].black:active span.icon {
    box-shadow: 0 -2px 0 0 rgb(24, 42, 60);
}

button[data-icon].yellow:active span.icon {
    box-shadow: 0 -2px 0 0 rgb(201, 156, 20);
}

button[data-icon].orange:active span.icon {
    box-shadow: 0 -2px 0 0 rgb(190, 86, 20);
}

button[data-icon].red:active span.icon {
    box-shadow: 0 -2px 0 0 rgb(172, 37, 23);
}
