
.checkbox-wrapper {
    display: block;
}

.checkbox-wrapper:after {
    content: '';
    clear: both;
    display: table;
    height: 0;
    width: 0;
}

.checkbox-wrapper + .checkbox-wrapper {
    margin-top: 5px;
}

.checkbox-wrapper input[type=checkbox]{
    display: none;
}

.checkbox-wrapper .checkbox {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(190, 190, 190);
    box-sizing: border-box;
    float: left;
    height: 16px;
    width: 16px; 
}

.checkbox-wrapper .checkbox + label {
    cursor: pointer;
    float: left;
    line-height: 16px;
    margin-left: 10px;
    vertical-align: middle;
}

.checkbox-wrapper .checkbox.hover {
    border: 2px solid rgb(190, 190, 190);
    cursor: pointer;
}

.checkbox-wrapper .checkbox.checked {
    background: url(../img/checkbox-checked.png) no-repeat center center, rgb(255, 255, 255);
}