
.radio-wrapper {
    display: table;
    border-collapse: separate;
    border-spacing: 0 3px;
}

.radio-wrapper input[type=radio]{
    display: none;
}

.radio-wrapper .radio {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 1px solid rgb(190, 190, 190);
    box-sizing: border-box;
    display: table-cell;
    height: 16px;
    width: 16px; 
}

.radio-wrapper .radio + label {
    cursor: pointer;
    padding-left: 10px;
    display: table-cell;
}

.radio-wrapper .radio.hover,
.radio-wrapper .radio.checked {
    position: relative;
}

.radio-wrapper .radio.hover {
    border: 2px solid rgb(190, 190, 190);
    cursor: pointer;
}

.radio-wrapper .radio.checked:after,
.radio-wrapper .radio.hover.checked:after {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: rgb(23, 99, 166);
    position: absolute;
}

.radio-wrapper .radio.checked:after {
    top: 4px;
    left: 4px;        
}

.radio-wrapper .radio.checked.hover:after {
    top: 3px;
    left: 3px;    
}

.radio:disabled {
    border-color: rgb(230, 230, 230);
    background-color: transparent;
    cursor: default;
}

.radio:disabled + label {
    cursor: default;
    color: rgb(230, 230, 230);
}
