
.header {
    height: 90px;
    background-color: rgb(0, 0, 0);
}

.header .container {

}

.header .container .title-box {
    background-color: rgb(0, 0, 0);
    float: left;
    width: 230px;
}

.body {
}

.body .container {
    background-color: #f8f8f8;
    display: table;
    width: 100%;
}

.body .container .left-column {
    background-color: rgb(52, 73, 94);
    border-left: 2px solid rgba(255, 255, 255, .3);
    display: table-cell;
    vertical-align: top;
    width: 230px;
}

.body .container .left-column .content {

}

.body .container .main-column {
    display: table-cell;
    vertical-align: top;
}

.body .container .main-column .content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
}

.footer {
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 300px;
    overflow: auto;
}

.footer .container {
    width: 550px;
    height: 70px;
    margin: 115px auto;
    display: table;
}

.footer .container .logo {
    width: 120px;
    height: 70px;
    display: table-cell;
    background: url(../img/npd-logo.png) center no-repeat;
    vertical-align: middle;
    text-align: center;
}

.footer .container .contact {
    font-size: 11px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    border-left: 1px solid rgb(100, 100, 100);
}