html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

.header {
    height: 90px;
    background-color: rgb(0, 0, 0);
}

.header .container {

}

.header .container .title-box {
    background-color: rgb(0, 0, 0);
    float: left;
    width: 230px;
}

.body {
    display: table;
    width: 100%;
    min-height: 90%;
}

.body .left-column {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: rgb(52, 73, 94);
    display: table-cell;
    vertical-align: top;
    width: 230px;
}

.body .main-column {
    display: table-cell;
}

.body .main-column .content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
}

.footer {
    background-color: rgb(0, 0, 0);
    height: 120px;
    overflow: auto;
}

.footer .container {
    display: table;
    height: 70px;
    margin: 25px auto;
    width: 550px;
}

.footer .container .logo {
    background: url(../img/npd-logo.png) center no-repeat;
    display: table-cell;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    width: 120px;
}

.footer .container .contact {
    border-left: 1px solid rgb(100, 100, 100);
    color: rgb(255, 255, 255);
    display: table-cell;
    font-size: 11px;
    text-align: center;
    vertical-align: middle;
}