
table {
    width: 100%;
    font-family: 'Open Sans';
    border-top: 3px solid rgb(189, 195, 199);
    border-bottom: 1px solid rgb(189, 195, 199);
}

table thead {
    background-color: rgb(236, 240, 241);
    line-height: 28px;
}

table thead tr {

}

table thead tr th {
    font-size: 14px;
    font-weight: 400;
    padding-left: 5px;
    text-align: left;
}

table thead tr th.sortable {

}

table thead tr th.sort-asc {

}

table thead tr th.sort-desc {

}

table tbody {
    font-size: 12px;
    line-height: 22px;
}

table tbody tr {
    border-bottom: 1px solid rgb(236, 240, 241);
}

table tbody tr td {
    padding-left: 5px;
}

table tfoot {
    background-color: rgb(236, 240, 241);
    line-height: 22px;
}

table tfoot tr {

}

table tfoot tr td {
    font-size: 12px;
    font-weight: 600;
    padding-left: 5px;
    text-align: left;
}

/*Stripped table*/
table.stripped tbody tr:nth-child(even) {

}

table.stripped tbody tr:nth-child(odd) {

}